{% extends 'login/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="main-content center container">
    <h2>Login</h2>

    {% if request.user.is_authenticated %}
    <div>
        Você está logado como {{request.user.username}}.
        Por favor,
        <form class="inline-form" action="{% url 'login:logout' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{request.user.username}}">
            <button class="plainetext-button" type="submit"> clique aqui </button>
        </form> para fazer logout.
    </div>
    {% endif %}

</div>

{% include 'login/messages.html' %}

{% include 'login/form.html' %}

{% if not request.user.is_authenticated %}
<div class="form-content form-content">
    Não possui conta? <a href="{% url 'login:register' %}">Clique aqui</a> e cadastre-se.
</div>
<div class="form-content form-content">
    Esqueceu a senha? <a href="{% url 'password_reset' %}">Clique aqui</a>.
</div>
{% endif %}

{% endblock content%}