{% extends 'login/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="main-content center container">

    {% if request.user.is_authenticated %}

        <h2>Login - {{request.user.username}}</h2>

    {% else %}

    <h2>Login</h2>

    {% endif %}

    {% if request.user.is_authenticated %}

    <div>

        <form class="inline-form" action="{% url 'login:logout' %}" method="POST">

            {% csrf_token %}
            <input type="hidden" name="username" value="{{request.user.username}}">
            <button class="plainetext-button" type="submit">Logout</button>

        </form>
    </div>

    <div class="form-content form-content">
        <a href="{% url 'blog:index' %}">Volte ao site</a>
    </div>
    
    {% endif %}

</div>

{% include 'login/messages.html' %}

{% include 'login/dashboard.html' %}

{% include 'login/form.html' %}

{% if not request.user.is_authenticated %}
<div class="form-content form-content">
    Não possui conta? <a href="{% url 'login:register' %}">Clique aqui</a> e cadastre-se.
</div>
<div class="form-content form-content">
    Esqueceu a senha? <a href="{% url 'password_reset' %}">Clique aqui</a>.
</div>
{% endif %}

{% endblock content%}