{% extends 'login/base.html' %}
{% block title %}Esqueci a senha{% endblock  %}


{% block content %}
{% if validlink %}
<div class="main-content center container">
<h1>Redefinir senha</h1>
</div>
<div class="form-content form-content-grid">
<form  method="post">
    {% csrf_token %}
    <div class="form-group">
    {{form.as_p}}
    </div>
</div>
<div class="form-content form-content-grid">
    <div class="form-group">
    <button type="submit">Enviar</button>
    </div>
</div>
</form>

{% endif %}
{% endblock content %}
