{% extends 'login/base.html' %}
{% block title %}Esqueci a senha{% endblock  %}
{% block content %}
<div class="main-content center container">
<h1>Esqueceu sua senha?</h1>
</div>
{% if not request.user.is_authenticated %}

<div class="form-content form-content-grid">
    <form method="post">
		{% csrf_token %}
		<div class="form-group">
        {{ form }}
		</div>
	</div>
		<div class="form-content form-content-grid">
            <div class="form-group">
            <button type="submit">Enviar</button>
            </div>
        
    </form>

{% endif %}
{% endblock %}

