{% extends 'login/base.html' %}
{% block title %}Senha alterada{% endblock  %}

{% block content %}
<div class="main-content center container">
<h1>Obrigado</h1>
</div>
<div class="main-content center container">
<p>Nos te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.</p>
<p>Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>
</div>
<div class="form-content form-content">
<p>Voltar para o <a href="{% url 'login:login' %}">Login</a></p>
</div>
{% endblock %}
