{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'blog/head.html' %}
    <title> {% block title %}{{title}}{% endblock %}</title>
</head>

<body>
    {% include 'blog/menu.html' %}
   
    {% include 'blog/header.html' %}
    {% include 'blog/messages.html' %}
        {% block content %}

        {% endblock %}

    {% include 'blog/footer.html' %}
</body>

</html>