{% extends 'blog/base.html' %}

{% load static %}

{% block title %}{{title}}{% endblock  %}

{% block content %}

{% for posts in post %}
<div class="main-content main-content-list container">
<div class="recipe recipe-list-item">

    <div class="recipe-title-container">
        <h2 class="recipe-title">
            {{ posts.title }}

        </h2>
    </div>
    <div class="recipe-author">

        {% if posts.author is not None %}
            <span class="recipe-author-item">
                
                {% if posts.author.profile %}
                    <a href="{% url 'authors:profile' posts.author.profile.id %}">
                {% endif %}

                <i class="fas fa-user"></i>
                {% if posts.author.first_name %}
                <a href="{% url 'blog:filter' posts.author.id posts.author.username %}"> {{ posts.author.first_name }} {{ posts.author.last_name }}</a>
                {% else %}
                <a href="{% url 'blog:filter' posts.author.id posts.author.username %}">{{ posts.author.username }}</a>
                {% endif %}

                {% if posts.author.profile %}
                    </a>
                {% endif %}

            </span>
        {% endif %}

        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            {{ posts.created_at|date:"d/m/Y" }} às {{ posts.created_at|date:"H:i" }}
        </span>
    </div>

    <div class="recipe-content">
        <p>{{ posts.text|linebreaksbr|slice:":250" }}...</p>
    </div>
    
    <footer class="recipe-footer">
            <a class="recipe-read-more button button-dark button-full-width" href="{% url 'blog:details' posts.id posts.slug %}">
                <i class="fas fa-eye"></i>
                <span>Leia mais...</span>
            </a>
        </footer>

</div>
{% empty %}
    <div class="center m-y">
        <h1>Não foi encontrado nenhum post 🥲</h1>
    </div>

{% endfor %}


{% endblock  %}